body {
  font-size: 24px
}

#banner {
  width: 100%;
}

.principal { 
  background: #CCCCCC;
  padding: 30px
}

.titulo-principal {
  padding-left: 20px;
}

.titulo-centralizado {
  text-align: center;
  font-size: 30px;
}

p {
  text-align: center;
}

#missao {
  font-size: 30px;
}

em strong {
  color: #FF0000;
}

.itens {
  font-size: italic;
}

.beneficios {
  background-color: #FFFFFF;
  padding: 20px
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagembeneficios {
  width: 50%;
}